[Desktop Entry]
Version=1.0
Terminal=false
Icon=icon.png # add install icon step
Type=Application
Categories=screenshots;upload;share
Exec=hmsc #return absolute path
Name=Homemade Screenshotter
GenericName=Homemade Screenshotter
StartupNotify=false
Keywords=homemade screenshots upload
