[Desktop Entry]
Version=1.0
Terminal=false
Icon=hmsc.png
Type=Application
Categories=screenshots;upload;share
Exec=$GOPATH/bin/hmsc
Name=Homemade Screenshotter
GenericName=Homemade Screenshotter
StartupNotify=false
Keywords=homemade screenshots upload
