[Desktop Entry]
Version=1.0
Terminal=false
Icon=/opt/hms/icon.png
Type=Application
Categories=Images;screenshots;upload
Exec=/opt/hms/scrn
Name=Homemade Screenshotter
GenericName=Homemade Screenshotter
StartupNotify=false
Keywords=homemade screenshots upload
# put or ln this file to /usr/share/applications with sudo
